/* Navbar.css */

/* Global Reset for Navbar component context */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.navbar {
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
  width: 100%;
  background-color: white; /* Added to ensure content doesn't show behind */
  position: relative;
  z-index: 1000;
}

.navbar a {
  color: black;
  font-size: 18px;
  font-weight: 500;
}

.navbar .nav-links ul {
  display: flex;
  gap: 25px;
}

.navbar .logo {
  width: 100px;
  height: auto;
  /* If image is missing, this ensures text is visible */
  min-height: 40px; 
  background-color: #eee; 
  display: block;
}

.navbar .nav-links ul li {
  margin: 0 20px;
}

.navbar .nav-links ul li a:hover {
  color: navy;
  transition: color 0.3s ease;
}

.navbar .menu-icon {
  display: none;
  width: 35px;
  cursor: pointer; 
}

.navbar .nav-links ul li a.active {
  color: #1e3a8a;
  font-weight: 700; 
  border-bottom: 3px solid #1e3a8a; 
  padding-bottom: 5px; 
}
.navbar .nav-links ul li a:hover {
  color: #1e3a8a;
}

/* --- MOBILE STYLES --- */
@media screen and (max-width: 768px) {
  .navbar {
    padding: 15px 20px; 
  }

  
  .navbar .logo {
    position: static; 
    width: 80px;
  }

  .navbar .menu-icon {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 100%; /* Push it below the navbar */
    left: 0;
    background-color: rgba(255, 255, 255, 0.95);
    width: 100%;
    height: 100vh;
    display: none; 
    justify-content: center;
    align-items: center; 
    flex-direction: column;
  }

  /* Class added via React when menu is open */
  .nav-links.active {
    display: flex;
  }

  .nav-links ul {
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 40px; 
  }

  .navbar .nav-links ul li {
    margin: 10px 0px;
    font-size: 1.2em; 
  }
}